* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

html {
    height: 100%;
    background-color: #f0fff0;
}

body {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
}

a {
    color: #060;
    text-decoration: none;
}

a:visited {
    color: #090;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #060;
}

header a {
    font-size: 30px;
}

section {
    margin-top: 20px;
}


/* Alerts */
.alert {
    padding: 20px;
}

.alert.error {
    color: #fff;
    background-color: #a00;
}

.alert.huge {
    font-size: 24px;
}

/* Forms */

form > div {
    padding: 10px;
}

div.controls {
    margin-top: 20px;
    border-top: 1px solid #060;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    width: 610px;
    padding: 5px;
    border-radius: 0;
    border: 1px solid;
}

input[type="submit"] {
    width: 100%;
    color: #fff;
    background-color: #060;
}

input[type="submit"]:hover {
    background-color: #080;
}


/* Previous fractals */

.previous li {
    padding: 5px 0;
    list-style: none;
}
