<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlameFractal | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="/">Flame Fractal</a></h1>
    </header>

    <section class="content">
        {% block body %}{% endblock %}
    </section>

    <section class="previous">
        <h1>Previous fractals:</h1>

        <ul>
        {% for fractal in fractals[0] %}
            <li><a href="/show/{{ fractal }}?page={{ fractals[1].page }}">Fractal: {{ fractal }}</a></li>
        {% endfor %}
        </ul>

        {% if fractals[1].pages > 1 %}
            <div class="pagination">
            {%- for page in fractals[1].iter_pages() %}
                {% if page != fractals[1].page %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {%- endfor %}
            </div>
        {% endif %}
    </section>
</body>
</html>
