{% extends "layout.html" %}
{% block title %}New{% endblock %}
{% block body %}
    {% if error %}
    <div class="alert error">
        {{ error }}
    </div>
    {% endif %}

    <form action="" method="POST">
        <div class="field">
            <label for="titleFld">Title</label>
            <input type="text" name="title" id="titleFld">
        </div>

        <div class="field">
            <label for="itersFld">Iterations</label>
            <input type="number" name="iters" id="itersFld">
        </div>

        <div class="field">
            <label for="pointsFld">Points</label>
            <input type="number" name="points" id="pointsFld">
        </div>

        <div class="field">
            <label for="seedFld">Seed</label>
            <input type="number" name="seed" id="seedFld">
        </div>

        <div class="field">
            <label for="transformsFld">Transformations</label>
            <input type="number" name="transforms" id="transformsFld">
        </div>

        <div class="field">
            <label for="gammaFld">Gamma</label>
            <input type="number" name="gamma" id="gammaFld" step="0.1">
        </div>

        <div class="controls">
            <input type="submit" name="submit" value="Create fractal">
        </div>
    </form>
{% endblock %}
