{% extends "layout.html" %}
{% block title %}Show{% endblock %}
{% block body %}
    <h1>Fractal: {{ fractal.name }}</h1>
    <div class="pane">
        <p><img src="/{{ fractal.url }}"></p>
        <h3>Information</h3>
        <table>
            <tbody>
            <tr><td>Name</td><td>{{ fractal.name }}</td></tr>
            <tr><td>Title</td><td>{{ fractal.title }}</td></tr>
            <tr><td>Width</td><td>{{ fractal.width }}</td></tr>
            <tr><td>Height</td><td>{{ fractal.height }}</td></tr>
            <tr><td>Iterations</td><td>{{ fractal.iterations }}</td></tr>
            <tr><td>Points</td><td>{{ fractal.points }}</td></tr>
            <tr><td>Transforms</td><td>{{ fractal.transformations }}</td></tr>
            <tr><td>Seed</td><td>{{ fractal.seed}}</td></tr>
            <tr><td>Gamma</td><td>{{ fractal.gamma}}</td></tr>
            </tbody>
        </table>
    </div>
{% endblock %}
